<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TcpViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <userSettings>
    <TcpViewer.Properties.Settings>
      <setting name="DefaultHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="DefaultPort" serializeAs="String">
        <value>5050</value>
      </setting>
      <setting name="DefaultLocation" serializeAs="String">
        <value>200, 200</value>
      </setting>
      <setting name="DefaultSize" serializeAs="String">
        <value>349, 146</value>
      </setting>
    </TcpViewer.Properties.Settings>
  </userSettings>
</configuration>
